.comment-info {
    display: flex;
    width: 70%;
    border: 1px solid gray;
    margin: 100px;
    padding: 30px;
    border-radius: 10px;
    background-image: linear-gradient(skyblue, lightgrey);
    color: darkgreen;

}
.comment-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 30px ;
}